* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #c6b38e;
}

div li {
  list-style: none;
  margin: 15px 0;
}

.screen-container {
  padding: 64px 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.screen-container > div {
  align-self: center;
}
